<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.EmployeeEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="emp_code" jdbcType="VARCHAR" property="empCode" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_sex" jdbcType="INTEGER" property="empSex" />
    <result column="emp_mail" jdbcType="VARCHAR" property="empMail" />
    <result column="emp_mobile" jdbcType="VARCHAR" property="empMobile" />
    <result column="emp_valid" jdbcType="TINYINT" property="empValid" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="depart_code" jdbcType="VARCHAR" property="departCode" />
    <result column="depart_name" jdbcType="VARCHAR" property="departName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="ehr_city_code" jdbcType="VARCHAR" property="ehrCityCode" />
    <result column="center_code" jdbcType="VARCHAR" property="centerCode" />
    <result column="center" jdbcType="VARCHAR" property="center" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="brance_company_code" jdbcType="VARCHAR" property="branceCompanyCode" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, emp_code, emp_name, emp_sex, emp_mail, emp_mobile, emp_valid, post_code, 
    post_name, depart_code, depart_name, city_code, ehr_city_code, center_code, center, 
    group_code, group_name, brance_company_code, is_del, create_date, create_fid, modify_date, 
    modify_fid
  </sql>
  <select id="selectByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_employee
    where fid = #{fid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.EmployeeEntity" useGeneratedKeys="true">
    insert into t_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="empCode != null">
        emp_code,
      </if>
      <if test="empName != null">
        emp_name,
      </if>
      <if test="empSex != null">
        emp_sex,
      </if>
      <if test="empMail != null">
        emp_mail,
      </if>
      <if test="empMobile != null">
        emp_mobile,
      </if>
      <if test="empValid != null">
        emp_valid,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="departCode != null">
        depart_code,
      </if>
      <if test="departName != null">
        depart_name,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="ehrCityCode != null">
        ehr_city_code,
      </if>
      <if test="centerCode != null">
        center_code,
      </if>
      <if test="center != null">
        center,
      </if>
      <if test="groupCode != null">
        group_code,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="branceCompanyCode != null">
        brance_company_code,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="empCode != null">
        #{empCode,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        #{empSex,jdbcType=INTEGER},
      </if>
      <if test="empMail != null">
        #{empMail,jdbcType=VARCHAR},
      </if>
      <if test="empMobile != null">
        #{empMobile,jdbcType=VARCHAR},
      </if>
      <if test="empValid != null">
        #{empValid,jdbcType=TINYINT},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null">
        #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="departName != null">
        #{departName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="ehrCityCode != null">
        #{ehrCityCode,jdbcType=VARCHAR},
      </if>
      <if test="centerCode != null">
        #{centerCode,jdbcType=VARCHAR},
      </if>
      <if test="center != null">
        #{center,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="branceCompanyCode != null">
        #{branceCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByFid" parameterType="com.ziroom.ups.model.entity.EmployeeEntity">
    update t_employee
    <set>
      <if test="empCode != null">
        emp_code = #{empCode,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        emp_sex = #{empSex,jdbcType=INTEGER},
      </if>
      <if test="empMail != null">
        emp_mail = #{empMail,jdbcType=VARCHAR},
      </if>
      <if test="empMobile != null">
        emp_mobile = #{empMobile,jdbcType=VARCHAR},
      </if>
      <if test="empValid != null">
        emp_valid = #{empValid,jdbcType=TINYINT},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null">
        depart_code = #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="departName != null">
        depart_name = #{departName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="ehrCityCode != null">
        ehr_city_code = #{ehrCityCode,jdbcType=VARCHAR},
      </if>
      <if test="centerCode != null">
        center_code = #{centerCode,jdbcType=VARCHAR},
      </if>
      <if test="center != null">
        center = #{center,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        group_code = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="branceCompanyCode != null">
        brance_company_code = #{branceCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>

  <select id="listPage" parameterType="com.ziroom.ups.model.dto.EmpListDto" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from t_employee
    where is_del = 0
    <if test="empCode != null and empCode != ''">
      and emp_code = #{empCode,jdbcType=VARCHAR}
    </if>
    <if test="empName != null and empName != ''">
      and emp_name = #{empName,jdbcType=VARCHAR}
    </if>
    <if test="empValid != null">
      and emp_valid = #{empValid,jdbcType=TINYINT}
    </if>
  </select>

</mapper>