<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.ResourceEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="res_name" jdbcType="VARCHAR" property="resName" />
    <result column="res_icon" jdbcType="VARCHAR" property="resIcon" />
    <result column="res_path" jdbcType="VARCHAR" property="resPath" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="res_status" jdbcType="TINYINT" property="resStatus" />
    <result column="parent_fid" jdbcType="VARCHAR" property="parentFid" />
    <result column="res_type" jdbcType="TINYINT" property="resType" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, app_code, res_name, res_icon, res_path, order_no, res_status,
    parent_fid, res_type, is_del, create_date, create_fid, modify_date, modify_fid
  </sql>
  <select id="selectByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where fid = #{fid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.ResourceEntity" useGeneratedKeys="true">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="appCode != null">
        app_code,
      </if>
      <if test="resName != null">
        res_name,
      </if>
      <if test="resIcon != null">
        res_icon,
      </if>
      <if test="resPath != null">
        res_path,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="resStatus != null">
        res_status,
      </if>
      <if test="parentFid != null">
        parent_fid,
      </if>
      <if test="resType != null">
        res_type,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null">
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resPath != null">
        #{resPath,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="resStatus != null">
        #{resStatus,jdbcType=TINYINT},
      </if>
      <if test="parentFid != null">
        #{parentFid,jdbcType=VARCHAR},
      </if>
      <if test="resType != null">
        #{resType,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByFid" parameterType="com.ziroom.ups.model.entity.ResourceEntity">
    update t_resource
    <set>
      <if test="appCode != null">
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null">
        res_name = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        res_icon = #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resPath != null">
        res_path = #{resPath,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="resStatus != null">
        res_status = #{resStatus,jdbcType=TINYINT},
      </if>
      <if test="parentFid != null">
        parent_fid = #{parentFid,jdbcType=VARCHAR},
      </if>
      <if test="resType != null">
        res_type = #{resType,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>

  <select id="queryResTree" parameterType="com.ziroom.ups.model.dto.ResTreeDto" resultType="com.ziroom.ups.model.vo.ResTreeVo">
    select
    fid resFid,
    res_name resName,
    parent_fid parentFid,
    order_no orderNo,
    res_icon resIcon,
    res_status resStatus,
    res_type resType
    from t_resource
    where app_code = #{appCode,jdbcType=VARCHAR}
    AND is_del = 0
    <if test="resStatus != null">
      AND res_status = #{resStatus,jdbcType=TINYINT}
    </if>
  </select>

  <select id="listPage" parameterType="com.ziroom.ups.model.dto.ResListDto" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resource
    where parent_fid = #{parentFid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <update id="updateByParentFid" parameterType="com.ziroom.ups.model.entity.ResourceEntity">
    update t_resource
    set res_status = #{resStatus,jdbcType=TINYINT},
        modify_fid = #{modifyFid,jdbcType=VARCHAR}
    where parent_fid = #{parentFid,jdbcType=VARCHAR}
  </update>

</mapper>