<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.ResourceEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="application_fid" jdbcType="VARCHAR" property="applicationFid" />
    <result column="res_name" jdbcType="VARCHAR" property="resName" />
    <result column="res_icon" jdbcType="VARCHAR" property="resIcon" />
    <result column="res_path" jdbcType="VARCHAR" property="resPath" />
    <result column="is_leaf" jdbcType="TINYINT" property="isLeaf" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="res_state" jdbcType="TINYINT" property="resState" />
    <result column="parent_fid" jdbcType="VARCHAR" property="parentFid" />
    <result column="res_type" jdbcType="TINYINT" property="resType" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, application_fid, res_name, res_icon, res_path, is_leaf, order_no, res_state, 
    parent_fid, res_type, is_del, create_date, create_fid, modify_date, modify_fid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.ResourceEntity" useGeneratedKeys="true">
    insert into t_resource (fid, application_fid, res_name, 
      res_icon, res_path, is_leaf, 
      order_no, res_state, parent_fid, 
      res_type, is_del, create_date, 
      create_fid, modify_date, modify_fid
      )
    values (#{fid,jdbcType=VARCHAR}, #{applicationFid,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR}, 
      #{resIcon,jdbcType=VARCHAR}, #{resPath,jdbcType=VARCHAR}, #{isLeaf,jdbcType=TINYINT}, 
      #{orderNo,jdbcType=INTEGER}, #{resState,jdbcType=TINYINT}, #{parentFid,jdbcType=VARCHAR}, 
      #{resType,jdbcType=TINYINT}, #{isDel,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createFid,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifyFid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.ResourceEntity" useGeneratedKeys="true">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="applicationFid != null">
        application_fid,
      </if>
      <if test="resName != null">
        res_name,
      </if>
      <if test="resIcon != null">
        res_icon,
      </if>
      <if test="resPath != null">
        res_path,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="resState != null">
        res_state,
      </if>
      <if test="parentFid != null">
        parent_fid,
      </if>
      <if test="resType != null">
        res_type,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="applicationFid != null">
        #{applicationFid,jdbcType=VARCHAR},
      </if>
      <if test="resName != null">
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resPath != null">
        #{resPath,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="resState != null">
        #{resState,jdbcType=TINYINT},
      </if>
      <if test="parentFid != null">
        #{parentFid,jdbcType=VARCHAR},
      </if>
      <if test="resType != null">
        #{resType,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.ups.model.entity.ResourceEntity">
    update t_resource
    <set>
      <if test="fid != null">
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="applicationFid != null">
        application_fid = #{applicationFid,jdbcType=VARCHAR},
      </if>
      <if test="resName != null">
        res_name = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        res_icon = #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resPath != null">
        res_path = #{resPath,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="resState != null">
        res_state = #{resState,jdbcType=TINYINT},
      </if>
      <if test="parentFid != null">
        parent_fid = #{parentFid,jdbcType=VARCHAR},
      </if>
      <if test="resType != null">
        res_type = #{resType,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.ups.model.entity.ResourceEntity">
    update t_resource
    set fid = #{fid,jdbcType=VARCHAR},
      application_fid = #{applicationFid,jdbcType=VARCHAR},
      res_name = #{resName,jdbcType=VARCHAR},
      res_icon = #{resIcon,jdbcType=VARCHAR},
      res_path = #{resPath,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=TINYINT},
      order_no = #{orderNo,jdbcType=INTEGER},
      res_state = #{resState,jdbcType=TINYINT},
      parent_fid = #{parentFid,jdbcType=VARCHAR},
      res_type = #{resType,jdbcType=TINYINT},
      is_del = #{isDel,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_fid = #{createFid,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      modify_fid = #{modifyFid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>