<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.RoleEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="role_status" jdbcType="TINYINT" property="roleStatus" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>

  <resultMap id="roleResMap" type="com.ziroom.ups.model.vo.RoleResListVo">
    <result column="fid" jdbcType="VARCHAR" property="roleFid" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="role_status" jdbcType="TINYINT" property="roleStatus" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <collection column="fid" property="resList" select="com.ziroom.ups.mapper.RoleResourceMapper.listResFid">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, fid, app_code, role_name, role_desc, role_status, is_del, create_date, create_fid,
    modify_date, modify_fid
  </sql>
  <select id="selectByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role
    where fid = #{fid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.RoleEntity" useGeneratedKeys="true">
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="appCode != null">
        app_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDesc != null">
        role_desc,
      </if>
      <if test="roleStatus != null">
        role_status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleStatus != null">
        #{roleStatus,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByFid" parameterType="com.ziroom.ups.model.entity.RoleEntity">
    update t_role
    <set>
      <if test="appCode != null">
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleStatus != null">
        role_status = #{roleStatus,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>

  <select id="listPage" parameterType="com.ziroom.ups.model.dto.RoleListDto" resultMap="roleResMap">
    select
      ro.fid,
      ro.role_name,
      ap.app_code,
      ap.app_name,
      ro.role_desc,
      ro.role_status,
      ro.modify_date
    from t_role ro
    left join t_application ap on ap.app_code = ro.app_code
    where ro.is_del = 0
    <if test="appCode != null and appCode != ''">
      and ro.app_code = #{appCode,jdbcType=VARCHAR}
    </if>
    <if test="roleName != null and roleName != ''">
      and ro.role_name LIKE CONCAT('%',#{roleName,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <select id="listSimPage" parameterType="com.ziroom.ups.model.dto.RoleListDto" resultType="com.ziroom.ups.model.vo.RoleSimListVo">
    select
      ro.fid roleFid,
      ro.role_name roleName,
      ap.app_name appName
    from t_role ro
    left join t_application ap on ap.app_code = ro.app_code
    where ro.is_del = 0
    and role_status = 1
    <if test="appCode != null and appCode != ''">
      and ro.app_code = #{appCode,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>