<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.RoleResourceEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_fid" jdbcType="VARCHAR" property="roleFid" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="resource_fid" jdbcType="VARCHAR" property="resourceFid" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, role_fid, resource_fid, is_del, create_date, create_fid, modify_date, modify_fid
  </sql>
  <select id="selectByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role_resource
    where fid = #{fid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.RoleResourceEntity" useGeneratedKeys="true">
    insert into t_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="roleFid != null">
        role_fid,
      </if>
      <if test="resourceFid != null">
        resource_fid,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="roleFid != null">
        #{roleFid,jdbcType=VARCHAR},
      </if>
      <if test="resourceFid != null">
        #{resourceFid,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="batchInsert" keyColumn="id" keyProperty="id"
          parameterType="java.util.List" useGeneratedKeys="true">
    insert into t_role_resource
      (fid, role_fid, resource_fid, create_fid, modify_fid)
    values
    <foreach collection ="roleResList" item="item" index= "index" separator =",">
    (
      #{item.fid,jdbcType=VARCHAR},
      #{item.roleFid,jdbcType=VARCHAR},
      #{item.resourceFid,jdbcType=VARCHAR},
      #{item.createFid,jdbcType=VARCHAR},
      #{item.modifyFid,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <update id="updateByFid" parameterType="com.ziroom.ups.model.entity.RoleResourceEntity">
    update t_role_resource
    <set>
      <if test="roleFid != null">
        role_fid = #{roleFid,jdbcType=VARCHAR},
      </if>
      <if test="resourceFid != null">
        resource_fid = #{resourceFid,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>

  <update id="delByRoleFid" parameterType="com.ziroom.ups.model.dto.RoleResDelDto">
    update t_role_resource
    set is_del = 1,
        modify_fid = #{operator,jdbcType=VARCHAR}
    where role_fid = #{roleFid,jdbcType=VARCHAR}
  </update>

  <select id="listResFid" parameterType="java.lang.String" resultType="java.lang.String">
    select rr.resource_fid
    from t_role_resource rr
    left join t_resource re on rr.resource_fid = re.fid
    where rr.is_del = 0
    and re.is_del = 0
    and re.res_status = 1
    and role_fid =  #{fid,jdbcType=VARCHAR}
  </select>

</mapper>