<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.UserRoleEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="user_fid" jdbcType="VARCHAR" property="userFid" />
    <result column="role_fid" jdbcType="VARCHAR" property="roleFid" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, user_fid, role_fid, is_del, create_date, create_fid, modify_date, modify_fid
  </sql>
  <select id="selectByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_role
    where fid = #{fid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.UserRoleEntity" useGeneratedKeys="true">
    insert into t_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="userFid != null">
        user_fid,
      </if>
      <if test="roleFid != null">
        role_fid,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="userFid != null">
        #{userFid,jdbcType=VARCHAR},
      </if>
      <if test="roleFid != null">
        #{roleFid,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="batchInsert" keyColumn="id" keyProperty="id"
          parameterType="java.util.List" useGeneratedKeys="true">
    insert into t_user_role
    (fid, user_fid, role_fid, create_fid, modify_fid)
    values
    <foreach collection ="userRoleList" item="item" index= "index" separator =",">
      (
      #{item.fid,jdbcType=VARCHAR},
      #{item.userFid,jdbcType=VARCHAR},
      #{item.roleFid,jdbcType=VARCHAR},
      #{item.createFid,jdbcType=VARCHAR},
      #{item.modifyFid,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <update id="updateByFid" parameterType="com.ziroom.ups.model.entity.UserRoleEntity">
    update t_user_role
    <set>
      <if test="userFid != null">
        user_fid = #{userFid,jdbcType=VARCHAR},
      </if>
      <if test="roleFid != null">
        role_fid = #{roleFid,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>

  <update id="delByUserFid" parameterType="com.ziroom.ups.model.dto.UserRoleDelDto">
    update t_user_role
    set is_del = 1,
        modify_fid = #{operator,jdbcType=VARCHAR}
    where user_fid = #{userFid,jdbcType=VARCHAR}
  </update>

  <select id="listRoleFid" parameterType="java.lang.String" resultType="com.ziroom.ups.model.vo.RoleSimListVo">
    select
      ur.role_fid roleFid,
      r.role_name roleName
    from t_user_role ur
    left join t_role r on r.fid = ur.role_fid
    where ur.is_del = 0
    and r.is_del = 0
    and r.role_status = 1
    and user_fid =  #{fid,jdbcType=VARCHAR}
  </select>

</mapper>