<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.ups.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.ups.model.entity.UserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="employee_fid" jdbcType="VARCHAR" property="employeeFid" />
    <result column="is_admin" jdbcType="TINYINT" property="isAdmin" />
    <result column="user_status" jdbcType="TINYINT" property="userStatus" />
    <result column="nation_code" jdbcType="VARCHAR" property="nationCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_fid" jdbcType="VARCHAR" property="createFid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_fid" jdbcType="VARCHAR" property="modifyFid" />
  </resultMap>

  <resultMap id="userRoleMap" type="com.ziroom.ups.model.vo.UserRoleListVo">
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="employee_fid" jdbcType="VARCHAR" property="employeeFid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="depart_name" jdbcType="VARCHAR" property="departName" />
    <result column="user_status" jdbcType="TINYINT" property="userStatus" />
    <result column="emp_valid" jdbcType="TINYINT" property="empValid" />
    <collection column="fid" property="roleList" select="com.ziroom.ups.mapper.UserRoleMapper.listRoleFid">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, fid, account, `password`, employee_fid, is_admin, user_status, nation_code, province_code, 
    city_code, area_code, is_del, create_date, create_fid, modify_date, modify_fid
  </sql>

  <select id="selectByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where fid = #{fid,jdbcType=VARCHAR}
    AND is_del = 0
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ziroom.ups.model.entity.UserEntity" useGeneratedKeys="true">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="employeeFid != null">
        employee_fid,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="nationCode != null">
        nation_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createFid != null">
        create_fid,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="modifyFid != null">
        modify_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="employeeFid != null">
        #{employeeFid,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="nationCode != null">
        #{nationCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        #{modifyFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByFid" parameterType="com.ziroom.ups.model.entity.UserEntity">
    update t_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="employeeFid != null">
        employee_fid = #{employeeFid,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="nationCode != null">
        nation_code = #{nationCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createFid != null">
        create_fid = #{createFid,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyFid != null">
        modify_fid = #{modifyFid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>

  <select id="listPage" parameterType="com.ziroom.ups.model.dto.UserListDto" resultMap="userRoleMap">
    select
      u.fid,
      u.employee_fid,
      u.account,
      e.emp_name,
      e.post_name,
      e.depart_name,
      u.user_status,
      e.emp_valid
    from t_user u
    left join t_employee e on e.fid = u.employee_fid
    where u.is_del = 0
    <if test="account != null and account != ''">
      and u.account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="empCode != null and empCode != ''">
      and e.emp_code = #{empCode,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>